#buttons div {
    height: 32px;
    width: 32px;
    text-align: center;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 170px;
    flex-wrap: wrap;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

#calculator {
    width: 190px;
    padding: 16px 8px;
    background-color: #3484CB;
    border: 4px inset #245d8f;
    border-radius: 24px;
	box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
}

#rows {
    display: flex;
    flex-direction: column;
}

#display {
    width: auto;
    height: auto;
    text-align: end;
    background-color: rgb(219, 216, 183);
    padding-top: 2px;
    color: rgb(56, 56, 56);
    font-size: x-large;
    font-family: "Workbench", sans-serif;
    margin: 8px 16px 4px;
    border: 4px black groove;
    border-radius: 4px;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 4px;
    background-color: aquamarine;
    border-radius: 4px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 0%;
    align-items: center;
    border-color: #7FEAFF;
    color: #D47FFF;
	transform: translateY(0rem);
    transition: all .1s ease-in-out;
    font-family: "Orbitron", sans-serif;
}

button:hover {
	background: #FF7FAA;
    border-color: #FF947F;
    color: #AAFF7F;
	color: var(--white);
	transform: translateY(-0.2rem);
    transition: all .15s ease-in-out;
}

button:active {
	transform: translateY(0rem);
    transition: all .1s ease-in-out;
}

/* #clear {
    background-color: #FF7FAA;
    border-color: #FF947F;
    color: #AAFF7F;
} */