#buttons div {
    height: 32px;
    width: 32px;
    text-align: center;
    align-items: center;
    flex: 1;
}

#buttons {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 120px;
    flex-wrap: wrap;
    overflow: auto;
    padding: 4px;
}

#calculator {
    width: 150px;
    padding: 16px;
}

#rows {
    display: flex;
    flex-direction: column;
}

#display {
    height: 32px;
    border: 4px black groove;
    width: auto;
    height: auto;
    border-radius: 4px;
    text-align: end;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 4px;
    background-color: aquamarine;
}