#buttons div {
    height: 32px;
    width: 32px;
    text-align: center;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 170px;
    flex-wrap: wrap;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

#calculator {
    width: 190px;
    padding: 16px;
    background-color: #3484CB;
    border-radius: 24px;
}

#rows {
    display: flex;
    flex-direction: column;
}

#display {
    border: 4px black groove;
    width: auto;
    height: auto;
    border-radius: 4px;
    text-align: end;
    background-color: antiquewhite;
    padding: 4px;
    margin: 4px;
    font-size: large;
    margin-top: 8px;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 4px;
    background-color: aquamarine;
    border-radius: 4px;
    height: 32px;
    width: 32px;
    text-align: center;
    align-items: center;
    border-color: #7FEAFF;
    color: #D47FFF;
}

#clear {
    background-color: #FF7FAA;
    border-color: #FF947F;
    color: #AAFF7F;
}